/* CSS for broad elements */

h1, h2, h3, h4, h5, h6{
  font-family: "Inconsolata", monospace;
}

p, blockquote, .blockquote-footer{
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

img{
  width: 40%;
  position:relative;
}

.white-section{
  background-color: #fcfdfe;
  color:black;
}

.colored-section{
  background-color: #626d71;
  color:#fcfdfe;
}

.container-fluid{
  padding: 3% 10%;
}

/* Home Section */
#home h1{
  padding: 5% 0 3%;
  font-size: 2.5rem;
}

.blockquote{
  font-size: 1.1rem;
  line-height: 2rem;
  padding-bottom: 3%;
  text-align: left;
}

blockquote:hover{
  color: #f5e356;
}

blockquote::before{
  content: open-quote;
  margin: auto;
  padding:0;
}

blockquote::after{
  content: close-quote;
  margin: 0;
  padding-right:0;
  text-indent: -0.45rem;
}

.blockquote-footer{
  text-align:center;
  color: #fcfdfe;
  font-size: 1rem;
  padding-bottom: 5%;
  text-align: left;
}

#home .btn{
  margin: 0 1%;
  margin-top: 5%;
}

#home p{
  text-align: left;
  margin-bottom:0;
  padding: 7% 0;
}

#scroll-btn{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size: 10px;
    text-align: center;
    display: inline-block;
}

.hero{
  box-sizing: border-box;
  width: 100%;
  margin:0;
  padding:0;

}

.scroll-down{
position: relative;
bottom: 5rem;
left: 50%;
transform: translateX(-50%);
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.mouse{
  width: 2rem;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  margin-bottom: .5rem;
  display: flex;
}

.mouse span{
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  display:block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

#home .scroll-p{
  display: block;
  text-align: center;
  margin:0;
  padding:0 0 1%;
}

@keyframes move-wheel {
  0%{
    opacity:0;
    transform: translateY(-1);
  }
  100%{
    opacity:1;
    transform: translateY(1rem);
  }
}
}

/* NavBar */
.container-nav{
  padding:0;
}

.navbar-brand{
  font-family: "kremlinregular";
}

/* About Section */
.container-prologue{
  margin: 7% 0;
}

#about h2{
  padding-bottom: 2%;
}

#about .btn{
  font-family: "Inconsolata", monospace;
  margin-bottom: 5%;
}

#more{
  display:none;
}

/* Why Me Section */
#why-me h2{
  padding: 5% 0 5%;
  text-align: center;
}

.bottom-text{
  margin-bottom: 5%;
}

/* Article Section */
#article .container-fluid{
  padding: 5%;
}

#article h2{
  text-align: center;
  padding-bottom: 5%;
}

/* Projects Section */
#project h2{
  text-align: center;
  padding-bottom: 5%;
}

#project .container-fluid{
  padding: 5% 3%;
}

#project .btn{
  font-family: "Inconsolata";
}

.collapse{
  padding: 5% 3%;
}

/* Footer Section */
#contact .container-fluid{
  text-align: center;
}

.social-media{
  padding: 0 3%;
  text-decoration: none;
}

#contact p{
  padding-top: 3%;
}

/* Media Query for overall webpage */
@media (min-width: 760px){
  /* Home Section */
  #home h1{
    padding: 5% 0 1%;
    font-size: 2.5rem;
  }

  .blockquote{
    font-size: 1.1rem;
    line-height: 1.6;
    padding-bottom: 1%;
    text-align: left;
  }

  .blockquote-footer{
    text-align:center;
    color: #fcfdfe;
    font-size: 1rem;
    padding-bottom: 3%;
    text-align: left;
  }

  #home .btn{
    margin: 1% 1%;
  }

  #home p{
    text-align: left;
    margin-bottom:0;
    padding: 2% 0;
  }

  #home .continue{
    text-align: center;
  }

  #scroll-btn{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 10px;
      text-align: center;
      display: inline-block;
  }

  .hero{
    box-sizing: border-box;
    width: 100%;
    margin:0;
    padding:0;

  }

  .scroll-down{
  position: relative;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .mouse{
    width: 2rem;
    height: 4rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
  }

  .mouse span{
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    display:block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
  }

  #home .scroll-p{
    display: block;
    text-align: center;
    margin:0;
    padding:0 0 1%;
  }

  @keyframes move-wheel {
    0%{
      opacity:0;
      transform: translateY(-1);
    }
    100%{
      opacity:1;
      transform: translateY(1rem);
    }
  }

  /* Navbar */

  .navbar-nav{
  padding:0;
  }

  .collapse{
    padding:0;
  }

  .navbar-collapse{
    padding: 0;
  }

  /* About Section */
  #about .container-fluid{
  padding: 2% 10%;
  margin:3% 0 0;

  /* Projects Section */


    #seeMore .card-deck{
      display: inline-block;
      padding: 5% 75%;

    }


}



}

/* Media Query for #project-carousel */
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
